.notification {
   position: fixed;
   top: 10px;
   left: 50%;
   transform: translateY(calc(-100% - 15px));
   translate: -50%;
   z-index: 999;
   padding: 10px 14px;
   display: flex;
   align-items: center;
   border-radius: 5px;
   min-width: 300px;
   transition: all 0.5s;
   background-color: white;
   .icon {
      width: 30px;
      height: 30px;
   }
   .message {
      flex: 1;
      margin-left: 16px;
      font-size: 1.7rem;
   }
   .close {
      font-size: 2.8rem;
      padding: 2px;
      cursor: pointer;
   }
}
