.detail-photo-wrap {
   position: fixed;
   z-index: 9999;
   top: 50%;
   left: 50%;
   height: 80%;
   width: 80%;
   transform: translate(-50%, -50%);
   animation: slideTop 0.5s forwards;
}

.detail-photo {
   position: fixed;
   z-index: 999;
   top: 50%;
   left: 50%;
   height: 100%;
   width: 100%;
   transform: translate(-50%, -50%);
   background-color: rgb(58, 58, 58);
   overflow: auto;
   transition: all 0.5s;
   .photo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
}
.download-icon,
.remove-icon {
   width: 30px;
   height: 30px;
   position: absolute;
   z-index: 9999;
   top: 0;
   left: 50%;
   transform: translate(-50%, calc(-100% - 6px));
   cursor: pointer;
   path {
      fill: black;
   }
}
.remove-icon {
   transform: translate(100%, calc(-100% - 6px));
   path {
      fill: red;
   }
}

@keyframes slideTop {
   0% {
      top: -40%;
   }
   100% {
      top: 50%;
   }
}
