.loading {
   position: absolute;
   z-index: 9999;
   top: calc((30% + 20px));
   left: 50%;
   transform: translate(-50%, -50%);
   width: 90px;
   height: 90px;
}
.spinner {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   border: 12px solid rgba($color: rgb(170, 170, 170), $alpha: 0.5);
   border-top: 12px solid #3498db;
   border-radius: 50%;
   animation: rotate 1s infinite linear;
}
@keyframes rotate {
   from {
      transform: rotate(0);
   }
   to {
      transform: rotate(360deg);
   }
}
